@{
    ViewData["Title"] = "Administrator Dashboard";
}

@section Sidebar {
<ul>
    <li><a class="sb-link">ProsperWorks Import Tool</a></li>
    <li><a class="sb-link">Applicant Management</a></li>
    <li><a class="sb-link">DOL / Req Reporting</a></li>
</ul>
}

<h2>Administrator Dashboard</h2>
<div class="container">
    <div>
        <div>Applicant: <a href="">John Doe</a></div>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <div>
        <div>Applicant: <a href="">Jane Deer</a></div>
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div>
        <div>Applicant: <a href="">Robert Smith</a></div>
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div>
        <div>Applicant: <a href="">Rebecca Simms</a></div>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>