
@{
    ViewData["Title"] = "Student Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Sidebar {
    <ul>
        <li><a class="sb-link">Punchclock</a></li>
        <li><a class="sb-link">Lectures</a></li>
        <li><a class="sb-link">Excersies</a></li>
        <li><a class="sb-link">Course Calendar</a></li>
    </ul>
}

<h2>Punch Clock</h2>
<br />
<button type="button" class="btn btn-outline-primary">Punch In \ Out</button>
<br /><br />
<div class="card">
    <div class="card-header">
        <h5 class="mb-0">3/16/2018</h5>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">In:</h5>
            <p class="card-text">8:00 am | 1:00 pm</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Out:</h5>
            <p class="card-text">12:00pm | 5:00 pm</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Total</h3>
            <p class="card-text"><h5>8 hours</h5></p>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="mb-0">3/15/2018</h5>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">In:</h5>
            <p class="card-text">8:00 am | 1:00 pm</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Out:</h5>
            <p class="card-text">12:00pm | 5:00 pm</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Total</h3>
            <p class="card-text"><h5>8 hours</h5></p>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="mb-0">3/14/2018</h5>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">In:</h5>
            <p class="card-text">8:00 am | 1:00 pm</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Out:</h5>
            <p class="card-text">12:00pm | 5:00 pm</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Total</h3>
            <p class="card-text"><h5>8 hours</h5></p>
        </div>
    </div>
</div>
