/**
 * Header menu links (animated hamburguer toggles)
 */
.header-container > nav > ul > li > .menu-link {
  height: 65px;
  padding-top: 25px; }

.menu-link-close {
  display: block;
  position: relative; }
  .menu-link-close span {
    position: relative;
    display: block; }
  .menu-link-close span,
  .menu-link-close span:before,
  .menu-link-close span:after {
    width: 18px;
    height: 0;
    border-bottom: 2px solid;
    will-change: transform;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    transition: transform 0.4s; }
  .menu-link-close span {
    -webkit-transition: border-color 0.4s;
    -o-transition: border-color 0.4s;
    transition: border-color 0.4s; }
  .menu-link-close span:before,
  .menu-link-close span:after {
    content: " ";
    position: absolute; }
  .menu-link-close span:before {
    top: 6px; }
  .menu-link-close span:after {
    top: 12px; }

.active .menu-link-close span {
  border-color: transparent; }

.active .menu-link-close span:before {
  -webkit-transform: rotate(45deg) translate(1px, 0px);
  -moz-transform: rotate(45deg) translate(1px, 0px);
  -ms-transform: rotate(45deg) translate(1px, 0px);
  -o-transform: rotate(45deg) translate(1px, 0px);
  transform: rotate(45deg) translate(1px, 0px); }

.active .menu-link-close span:after {
  -webkit-transform: rotate(-45deg) translate(4px, -3px);
  -moz-transform: rotate(-45deg) translate(4px, -3px);
  -ms-transform: rotate(-45deg) translate(4px, -3px);
  -o-transform: rotate(-45deg) translate(4px, -3px);
  transform: rotate(-45deg) translate(4px, -3px); }

.menu-link-slide {
  display: block;
  position: relative; }
  .menu-link-slide span {
    position: relative;
    display: block; }
  .menu-link-slide span,
  .menu-link-slide span:before,
  .menu-link-slide span:after {
    width: 18px;
    height: 0;
    border-bottom: 2px solid;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .menu-link-slide span:before,
  .menu-link-slide span:after {
    content: " ";
    position: absolute; }
  .menu-link-slide span:before {
    top: 7px;
    left: 0;
    width: 60%;
    will-change: left; }
  .menu-link-slide span:after {
    top: 14px; }
  .menu-link-slide em {
    position: absolute;
    top: 4px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    will-change: right, transform; }

.active .menu-link-slide span:before {
  left: 40%; }

.active .menu-link-slide span em {
  right: 80%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.menu-link-arrow {
  display: block;
  position: relative; }
  .menu-link-arrow span {
    position: relative;
    display: block;
    will-change: transform;
    height: 14px;
    width: 18px;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    transition: transform 0.4s; }
  .menu-link-arrow em,
  .menu-link-arrow em:before,
  .menu-link-arrow em:after {
    content: " ";
    position: absolute;
    display: block;
    width: 18px;
    height: 0;
    border-bottom: 2px solid;
    will-change: transform;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    transition: transform 0.4s; }
  .menu-link-arrow em {
    -webkit-transition: border-color 0.4s;
    -o-transition: border-color 0.4s;
    transition: border-color 0.4s; }
  .menu-link-arrow em:before {
    top: -6px; }
  .menu-link-arrow em {
    top: 6px; }
  .menu-link-arrow em:after {
    top: 6px; }

.active .menu-link-arrow span {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
  .active .menu-link-arrow span em:before {
    width: 12px;
    transform: translateX(6px) translateY(1px) rotate(45deg);
    -webkit-transform: translateX(6px) translateY(1px) rotate(45deg); }
  .active .menu-link-arrow span em:after {
    width: 12px;
    transform: translateX(6px) translateY(-1px) rotate(-45deg);
    -webkit-transform: translateX(6px) translateY(-1px) rotate(-45deg); }
