/**
 * Dropdowns Extras
 */
.dropdown-lg > .dropdown-menu {
  min-width: 200px; }

.dropdown-list > .dropdown-menu {
  padding: 0;
  min-width: 220px; }

.dropdown-list .list-group {
  margin: 0; }

.dropdown-list .list-group-item {
  border-radius: 0;
  border-left: 0;
  border-right: 0; }
  .dropdown-list .list-group-item:first-child {
    border-top: 0; }
  .dropdown-list .list-group-item:last-child {
    border-bottom: 0; }

.dropdown > a {
  position: relative; }
  .dropdown > a > .label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 5px; }
    @media only screen and (min-width: 768px) {
      .dropdown > a > .label {
        top: 10px; } }

.dropdown-menu-header {
  padding: 10px 15px;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd; }

.md-dropdown-menu {
  display: block;
  opacity: 0;
  padding: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left; }
  .md-dropdown-menu.pull-right, .md-dropdown-menu.dropdown-menu-right {
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right; }
  .md-dropdown-menu > li {
    height: 48px; }
    .md-dropdown-menu > li > a {
      padding: 0 14px;
      line-height: 48px; }

.open > .md-dropdown-menu {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.dropup .md-dropdown-menu {
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left; }
  .dropup .md-dropdown-menu.pull-right, .dropup .md-dropdown-menu.dropdown-menu-right {
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right; }
