
@{
    ViewData["Title"] = "Instructor Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Sidebar {
<ul>
    <li><a class="sb-link">Lectures</a></li>
    <li><a class="sb-link">Excersies</a></li>
    <li><a class="sb-link">Course Schedule</a></li>
    <li><a class="sb-link">Student Reviews</a></li>
</ul>
}

<h2>Instructor Dashboard</h2>

