@model TGAcademyMVC.Models.Checklist

@{

}
@Html.DisplayText(Model.ChecklistValues.Count().ToString())

@*<ul>
           @foreach (KeyValuePair<string, bool> item in Model.checklistValues)
           {
               <li><input type="checkbox" name=@item.Key value=@item.Value />@item.Key</li>
           }
    </ul>*@
