body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Remove after demo*/
.icon {
    padding-top:10px;
}

.profile-image {
    height:82px;
    width:82px;
}

.sidebar-header {
    text-align:center;
}

.navbar-header {
    text-align:center;
    width:100%;
}

.navbar-link, .navbar-link:hover {
    color: white;
}


.collapse-level-title {
    color: #FFFFFF !important;
    background-color: #5F842C !important;
}

.collapse-title-bkg {
    background-color: #5F842C;
}

.collapse-title {
    color: #FFFFFF;
}

.input-group-text {
    background-color: #A0C074;
}

.body-content {
    position:relative;
    top: -80px;
}


@media (min-width: 992px) {
    .body-content {
        padding-left:225px;
    }    
}
